.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(37, 37, 36);
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

.navbar a {
    color: white;
}

.navbar__logo {
    display: inline-block;
}

.signinLinks {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.signoutLinks {
    display: flex;
    justify-content: space-between;
    width: 9%;
}

.navbar__avatar {
    background-color: red;
    border-radius: 50%;
    padding: 8px 9px;
}



