* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.center {   
    margin: 0 auto;
}

p.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
    text-align: center;
}