.signUp {
    width: 60%;
    margin: auto;
}

.signUp__button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: pink;
    border: none;
    border-radius: 5px;
}

.signUp__button:hover {
    cursor: pointer;
}